.main-pokemon-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.egg-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.egg-img {
    width: 100px;
    margin-bottom: 20px;
}

.get-egg-btn {
    background-color: rgb(97, 202, 97);
    color: white;
}

.get-egg-btn:hover:enabled {
    background-color: rgb(75, 155, 75);
}

.main-pokemon-container {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.main-pokemon-container h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.train-btn {
    background-color: rgb(175, 80, 80);
    color: white;
    margin-bottom: 20px;
}

.train-btn:hover:enabled {
    background-color: rgb(128, 56, 56);
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-widget {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 215px;
    justify-content: flex-end;
    margin: 10px;
    width: 150px;
}

.pokemon-widget.other {
    cursor: default;
}

.img-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.pokemon-widget.mine:hover img {
    transform: rotate(10deg);
}

.pokemon-widget img {
    width: 150px;
}

.egg-widget img {
    width: 100px;
    margin-bottom: 10px;
}

.egg-widget .pokemon-widget-name {
    margin-bottom: 18px;
}

.pokemon-widget-name {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.pokemon-widget-level {
    opacity: 0.7;
}