<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-hatch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon-details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">

    {% if title %}
    <title>{{ title }} - Pokemon Eggs</title>
    {% else %}
    <title>Pokemon Eggs</title>
    {% endif %}
</head>

<body>
    {% if not current_user.is_anonymous %}
    <header>
        <div class="top-banner">
            <p>All trainers</p>

            <!-- Logout Button -->
            <form method="POST" action="{{ url_for('session.logout') }}">
                <button class="logout-btn">Logout</button>
            </form>
        </div>

        <!-- Users -->
        <nav class="users">
            <a href="{{ url_for('pokemon.index') }}">
                <button class="user-btn current-user-btn">
                    {{ current_user.name }}
                </button>
            </a>

            {% for user in users %}
            <a href="/users/{{ user.id }}">
                <button class="user-btn">
                    {{ user.name }}
                </button>
            </a>
            {% endfor %}
        </nav>
    </header>
    {% endif %}

    {% block content %}{% endblock %}
</body>

</html>