<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon.css') }}">

    {% if title %}
    <title>{{ title }} - Pokemon Eggs</title>
    {% else %}
    <title>Pokemon Eggs</title>
    {% endif %}
</head>

<body>
    {% block content %}{% endblock %}

    <!-- Logout Button -->
    {% if not current_user.is_anonymous %}
    <form method="POST" action="{{ url_for('session.logout') }}">
        <button>Logout</button>
    </form>
    {% endif %}
</body>

</html>