{% extends "base.html" %}

<!-- Content to inject into "base.html" -->
{% block content %}
<div class="landing-page">

    <img src="https://archives.bulbagarden.net/media/upload/thumb/b/b8/025Pikachu_LG.png/600px-025Pikachu_LG.png">

    <h1 class="welcome-msg">
        Welcome to
    </h1>
    <h1 class="welcome-msg">
        Pokemon Eggs!
    </h1>

    <form method="post" action="{{ url_for('.login') }}" class="login-form">
        {{ form.csrf_token }}

        <!-- Employee number field -->
        <div>
            {{ form.username.label }} {{ form.username(class="login-input") }}

            {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Password field -->
        <div>
            {{ form.password.label }} {{ form.password(class="login-input") }}

            {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Login -->
        <div>{{ form.login(class="login-btn") }}</div>
    </form>

</div>
{% endblock %}