{% extends "base.html" %}

{% block content %}
<div class="main-pokemon-container">
    <!-- Egg -->
    <img class="pokemon-img" src="https://i.pinimg.com/originals/02/c7/05/02c70572482476ba3ec8c4962f883705.png" />
    <form method="POST" action="{{ url_for('.new_pokemon') }}">
        <button>Get an egg</button>
    </form>

    <!-- Pokemon -->
    {% for user_pokemon in users_pokemon %}
    <diV class="pokemon-widget">
        <img src="{{ user_pokemon.pokemon.img_url }}" />

        <p>{{ user_pokemon.pokemon.name }}</p>
        <p>Level: {{ user_pokemon.level }}</p>
    </diV>
    {% endfor %}
</div>
{% endblock %}