{% extends "base.html" %}

{% block content %}
<div class="main-pokemon-page">
    <!-- Egg -->
    <div class="egg-container">
        <img class="egg-img" src="https://i.pinimg.com/originals/02/c7/05/02c70572482476ba3ec8c4962f883705.png" />
        <form method="POST" action="{{ url_for('.new_pokemon') }}">
            <button class="get-egg-btn" disabled>Get an egg</button>
        </form>
    </div>

    <div class="main-pokemon-container">
        <h1>Your Pokemon</h1>

        <form method="POST" action="{{ url_for('.train') }}">
            <button class="train-btn">Train</button>
        </form>

        <!-- Pokemon -->
        <div class="pokemon-list">
            {% for user_pokemon in users_pokemon %}
            <div class="pokemon-widget">
                <img src="{{ user_pokemon.pokemon.img_url }}" />

                <p class="pokemon-widget-name">{{ user_pokemon.pokemon.name }}</p>
                <p class="pokemon-widget-level">Level: {{ user_pokemon.level }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}